@px: 100vw/1240;

// color

@mainColor: #FE7000;
@whiteGray: #F2F2F2;
@titleBlack: #1B1A1F;
@white: #FFFFFF;
@price: #e94c55;
@infoBlue: #297cc4;
@pkRed: #e71717;
@darkGray: #333333;

// height

@menu-bar-height: 140*@px;
@noticeHight: 105*@px;

body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

html {
  -woz-box-sizing:border-box;
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing:inherit;
}

.page {
  padding-top: @menu-bar-height;
}
