@px: 100vw/1240;

// color

@mainColor: #FE7000;
@whiteGray: #F2F2F2;
@titleBlack: #1B1A1F;
@white: #FFFFFF;
@price: #e94c55;
@infoBlue: #297cc4;
@pkRed: #e71717;
@darkGray: #333333;
@lightGray: #bbbbbb;
@lightestGray: #dddddd;
@wechatGreen: #1baa36;
@itemBorder: #e7e7e7;
@yellow: #cda836;

// height

@menu-bar-height: 140*@px;
@noticeHight: 105*@px;
@tabHight: 160*@px;

body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
}

html {
  -woz-box-sizing:border-box;
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing:inherit;
}

.page {
  padding-top: @menu-bar-height;
  &.has-top-tab {
    padding-top: @menu-bar-height + @tabHight;
  }
  &.has-bottom-tab {
    padding-bottom: @tabHight;
  }
}

.main-cl {
  color: @mainColor;
}
.yellow-cl {
  color: @yellow;
}

.red-cl {
  color: @pkRed;
}

.gray-cl {
  color: #686868;
}
.blue-cl {
  color: #4388d6;
}
.bg-white {
  background-color: @white;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.avator (@d) {
  display: block;
  border-radius: 50%;
  width: @d * @px;
  height: @d * @px;
}

.disabledBg (@cl) {
  background-color: lighten(@cl, 20%);
  pointer-events: none;
}


