.menu-bar {
  display: flex;
  align-items: center;
  background-color: @titleBlack;
  color: @white;
  height: @menu-bar-height;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;


  .title {
    text-align: center;
    flex: 1;
    font-size: 16px;
  }

  .control {
    width: 310*@px;

  }

  .back {
    padding-left: 8px;
  }

  .menu {
    text-align: right;
    padding-right: 15px;

  .dot {
    background-color: @white;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    text-align: right;
    margin-left: 3px;
  }
  }
}

.notice-bar {
  position: fixed;
  top: @menu-bar-height;
  left: 0;
  width: 100%;
  background-color: @mainColor;
  color: @white;
  font-size: 12px;
  height: 76*@px;
  line-height: 76*@px;
}

.menu-item {
  padding: 0 48*@px;
  display: flex;
  align-items: center;
  height: 126*@px;
  border-top: 1px solid #DDDDDD;
  background-color: @white;

  &:last-of-type {
    border-bottom: 1px solid #DDDDDD;
  }
  

  .icon {
    color: @mainColor;
    margin-right: 10px;
    font-size: 18px;
  }

  .text {
    flex: 1;
    color: #434343;
  }
  
  .next {
    width: 100*@px;
    text-align: right;
    color: #8b8b8b;
  }
}

.record-container {
  font-size: 14px;
  height: 654*@px;
  overflow: scroll;
  .hight-light {
    color: @mainColor;
  }
  .record {
    height: 170*@px;
    display: flex;
    align-items: center;
    padding: 0 48*@px;
    background-color: @white;
    border-bottom: 2px solid @whiteGray;

    .timeStamp {
      width: 220*@px;
      font-size: 12px;
      text-align: center;

      .time {
      }
    }
    
    .avator {
      display: block;
      width: 100*@px;
      height: 100*@px;
      border-radius: 50%;
      margin: 0 30*@px;
    }

    .content {
      .user-info {
        color: @infoBlue;
      }
    }
  }
}

.buy-action {
  position: fixed;
  font-size: 14px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 99999;

  .cover {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8)
  }

  .action-pannel {
    position: absolute;
    bottom: -1300*@px;
    left: 0;
    transition: bottom 0.3s linear;
    background-color: @white;
    width: 100%;
    text-align: center;
    &.show {
      bottom: 0;
    }

    .close {
      position: absolute;
      top: -200*@px;
      right: @px*80;
      color: @white;
      width: @px*120;

      .close-btn {
        width: 100%;
        height: 120*@px;
        text-align: center;
        line-height: 120*@px;
        border-radius: 60*@px;
        border: 1px solid @white;
      }

      .vertical-line {
        width: 1px;
        height: 80*@px;
        margin: 0 auto;
        background-color: @white;
      }
    }

    .pannel-bar {
      background-color: @mainColor;
      color: @white;
      font-size: 14px;
      line-height: @px*130;
    }
    .tips {
      line-height: 100*@px;
      font-size: 14px;
    }

    .step {
      display: flex;
      justify-content: center;

      .num-input {
        width: 300*@px;
        border: none;
        margin: 0 10px;
        color: @mainColor;
        text-align: center;
        border-bottom: 1px solid @mainColor;
      }
      .btn {
        height: 100*@px;
        width: 100*@px;
        line-height: 100*@px;
        background-color: @mainColor;
        border-radius: 5px;
        color: @white;
        font-size: 18px;

        &.disabled {
          background-color: #f5cbaa;
        }
      }
    }

    .count-btns {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      flex-wrap: wrap;

      span {
        line-height: 90*@px;
        width: 250*@px;
        border: 1px solid @mainColor;
        border-radius: 45*@px;
        text-align: center;
        margin: 5px;
      }
    }

    .totle {
      .tips {
        font-weight: 800;
      }
      .money {
        color: @pkRed;
      }
    }

    .pay-btn {
      line-height: 120*@px;
      border-radius: 60*@px;
      text-align: center;
      color: @white;
      background-color: @wechatGreen;
      margin: 20px 15px 10px;
    }
  }
}

.tabs-cmp {
  display: flex;
  text-align: center;
  font-size: 14px;
}

.tabs-cmp.history-tab {
  .tab {
    line-height: @tabHight;
    color: @mainColor;
    background-color: @darkGray;
    flex: 1;
    text-align: center;

    &.active {
      color: @white;
      background-color: @mainColor;
    }
  }
}

.tabs-cmp.triangle-tab {
  justify-content: space-around;
  position: relative;
  background-color: @white;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: @mainColor;
  }
  .tab {
    line-height: @tabHight;
    color: #7f7f7f;
    text-align: center;
    position: relative;
    &.active::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      border-width: 8px;
      border-style: solid;
      border-color:transparent transparent @mainColor transparent;
    }
  }
}