.details-page {
  font-size: 12px;
  padding-bottom: @px*125;
  .detail-banner {
    .banner-pic {
      display: block;
      width: 100%;
      height: 500*@px;
    }
  }

  .product-info {
    display: flex;
    line-height: 72*@px;
    color: @white;
    background-color: @infoBlue;

    .title {
      flex: 1;
      padding-left: 15px;
    }

    .price-part {
      width: 450*@px;
      padding-right: 15px;
      text-align: right;
      .price {
        font-size: 14px;
      }
    }
  }

  .tab-part {
    display: flex;
    height: 44px;
    align-items: center;
    position: relative;
    background-color: @darkGray;
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.8);

    .tab {
      vertical-align: middle;
      flex: 1;
      text-align: center;
      font-size: 16px;
      color: white;
      line-height: 44px;
      &.active {
        background-color: @pkRed;
        width: @px*700;
        flex: none;
      }
    }

    .top-line {
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: @normal-low-z;
      background-color: @darkGray;
    }

    .triangle {
      height: 0;
      width: 0;
      border-top: 22px;
      border-left: 10px;
      border-right: 10px;
      border-bottom: 22px;
      border-style: solid;

      &.a {
        border-color: transparent @pkRed @pkRed transparent;
      }
      &.b {
        border-color: transparent transparent @pkRed @pkRed;
      }
    }
  }

  .record-list {
    background-color: @pkRed;
    color: @white;
    max-height: 600*@px;
    overflow-y: scroll;
    box-shadow: inset 0 -17px 25px -8px rgba(0, 0, 0, 0.3);
    .record-item {
        height: 170*@px;
        display: flex;
        align-items: center;
        padding: 0 48*@px;
        position: relative;

        .timeStamp {
          padding-top: @px*30;
          height: 170*@px;
          width: 300*@px;
          font-size: 12px;
          text-align: center;
          padding-right: 100*@px;
          border-right: 1px solid @white; 
          .time {
          }
        }
        
        .avator {
          display: block;
          position: absolute;
          left: @px*265;
          width: 100*@px;
          height: 100*@px;
          border-radius: 50%;
          margin: 0 30*@px;
        }

        &:last-child {
          .content {
            border-bottom: none;
          }
        }
        .content {
          padding-top: @px*30;
          height: 170*@px;
          padding-left: 100*@px;
          border-bottom: 1px dashed @white;
          flex: 1;
          .high-light {
            color: #ffef0a;
          }
        }
    }
  }

  .competition-part {
    height: @px*150;
    background-color: #cb9c28;
    color: @white;
    display: flex;
    align-items: center;
    justify-content: center;


    .range {
      color: #cb9c28;
      width: 200*@px;
      text-align: center;
      background-color: @white;
      height: @px*80;
      border-radius:40*@px;
      line-height: @px*80;
      font-size: 13px;
      margin: 0 10px;
    }
  }

  .history-part {
    padding-top: 10px;
    position: relative;
    z-index: @normal-low-z;
    background-color: #f3f3f3;

    .section-divider {
      height: 10px;
    }
  }

  .action-part {
    position: fixed;
    background-color: @darkGray;
    z-index: @tabBar-z;
    left: 0;
    bottom: 0;
    height: @px*125;
    width: 100%;
    display: flex;
    color: @white;
    text-align: center;
    align-items: center;
    justify-content: space-around;

    .action-btn {
      line-height: @px*90;
      width: 45%;
      border-radius: @px*45;

      &.buy-little {
        background-color: #cb9c28;
      }

      &.buy-big {
        background-color: @pkRed;
      }
    }
  }
}